Repository VM-Chinese-translate-group/MCE2, pull requests merged in 2025-06, with the labels that each got.

#3 MCE2主菜单贴图汉化
  CNPack/config/fancymenu/assets/bhmulti.png
  CNPack/config/fancymenu/assets/bhmultih.png
  CNPack/config/fancymenu/assets/bhoptions.png
  CNPack/config/fancymenu/assets/bhoptionsh.png
  CNPack/config/fancymenu/assets/bhoverlay.png
  CNPack/config/fancymenu/assets/bhquit.png
  CNPack/config/fancymenu/assets/bhquith.png
  CNPack/config/fancymenu/assets/bhrent.png
  CNPack/config/fancymenu/assets/bhrenth.png
  CNPack/config/fancymenu/assets/bhsingle.png
  CNPack/config/fancymenu/assets/bhsingleh.png
Labels: approve, resource

#7 Cgs汉化
  CNPack/kubejs/assets/cgs/lang/zh_cn.json
Labels: Need Review, resource, kubejs

#9 翻译了biofactory中在侍僧头盔与护目镜合成后的效果名称与文本，以及nutrients翻译为营养素与血肉重铸的翻译统一
  CNPack/kubejs/assets/biofactory/lang/en_us.json
Labels: Need Review, resource, kubejs

#25 整合包图片部分汉化
  CNPack/kubejs/assets/modpack/textures/2.png
  CNPack/kubejs/assets/modpack/textures/artifact_title.png
  CNPack/kubejs/assets/modpack/textures/book_of_titles.png
  CNPack/kubejs/assets/modpack/textures/challenge.png
  CNPack/kubejs/assets/modpack/textures/claim.png
  CNPack/kubejs/assets/modpack/textures/difficulty_title.png
  CNPack/kubejs/assets/modpack/textures/firefly.png
  CNPack/kubejs/assets/modpack/textures/fishing_title.png
  CNPack/kubejs/assets/modpack/textures/letter.png
  CNPack/kubejs/assets/modpack/textures/lotr.png
  CNPack/kubejs/assets/modpack/textures/mc-eternal-book-challenge-comm.png
  CNPack/kubejs/assets/modpack/textures/mc-eternal-infernal-contract-barry.png
  CNPack/kubejs/assets/modpack/textures/mc-eternal-sticky-note-difficulty-mode.png
  CNPack/kubejs/assets/modpack/textures/mc-eternal-sticky-note-fireflies.png
  CNPack/kubejs/assets/modpack/textures/mc-eternal-sticky-note-mail.png
  CNPack/kubejs/assets/modpack/textures/minecolonies.png
  CNPack/kubejs/assets/modpack/textures/nether_title.png
  CNPack/kubejs/assets/modpack/textures/title_great_below_1.png
Labels: Need Review, resource
